@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

.splash {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  height: 900px;
  background: url('https://i.postimg.cc/0QfbTRF4/wallpaperflare-com-wallpaper2.jpg') no-repeat;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
}
img {
  border-radius: 20%;
  border: 2px solid #928CAE;
  margin-left: 70px;
  opacity: 0.8;
}
h1 {
  font-family: Caveat;
  font-size: 50px;
  color: #494657;
  font-weight: 700;
  }
h2 {
  font-family: Caveat;
  font-size: 50px;
  color: #494657;
  margin-left: 40px;
  margin-bottom: -10px;
}
p {
  margin-left: 60px;
  font-family: Caveat;
  font-size: 40px;
  font-weight: 400;
  color: #494657;
  padding: 0;
}