@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

.splash {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  height: 900px;
  background: url('https://i.postimg.cc/0QfbTRF4/wallpaperflare-com-wallpaper2.jpg') no-repeat;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
}
img {
  border-radius: 20%;
  border: 2px solid #928CAE;
  margin-left: 70px;
  margin-bottom: -20px;
  opacity: 0.8;
}
h1 {
  font-family: Caveat;
  font-size: 50px;
  color: #494657;
  font-weight: 700;
  padding: 10px;
  }
h1:hover {
  color: #C3BBE8;
  background-color: #494657;
  max-width: 600px;
}

h2 {
  font-family: Caveat;
  font-size: 50px;
  color: #494657;
  margin-left: 40px;
  margin-bottom: 15px;
}
ul {
  margin-left: 60px;
  font-family: Caveat;
  font-size: 35px;
  font-weight: 400;
  color: #494657;
  margin-bottom: -20px;
  margin-top: -20px;
}
textarea {
  width: 400px;
  height: 100px;
  font-family: Caveat;
  font-size: 30px;
  opacity: 0.7;
}
button {
  width: 200px;
  height: 60px;
  font-family: Caveat;
  font-size: 30px;
  color: #494657;
  background-color: #E6E4F1;
}
button:hover {
  color: #C3BBE8;
  background-color: #494657;
}